
.btn {
    width: 100%;
    font-size: .8em;
    background: 0 0;
    border-radius: .5em;
    margin: 1em auto;
    text-decoration: none;
    text-align: center;
    display: block
}

.btn-signup {
    width: 100%;
    background-color: #343434;
    color: #fff;
    padding: .8em 0;
    font-size: 1.5em;
    border-radius: 3px;
    margin: 1em 0 0;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(0, 0, 0, .2)
}
.btn-signup:hover {
    background-color: #219967
}
.btn-signup:active {
    border-bottom-color: transparent;
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}
@media (max-width: 768px) {
    .btn-signup {
        width: 80%;
        font-size: 1.2em;
        margin: .8em auto 0;
        padding: .7em 0
    }
}

.signup-cards,
.signup-title {
    max-width: 1200px;
    margin: 0 auto
}

.signup {
    background-color: #F9DE5A;
    text-align: center;
    padding: 2em;
    font: 400 14px Lato, Arial, sans-serif
}
.signup-title {
    color: #555151;
    font-size: 1.2em
}

.signup-cards {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px
}
.signup-card {
    background-color: #FFF;
    color: #555151;
    box-shadow: 0 2px 5px #dbb446;
    padding: 1em 2.5em;
    margin-top: 1em;
    box-sizing: border-box;
    position: relative;
    max-width: 600px
}
.signup-card-premium {
    border-top: .5em solid #8CBF3F;
    z-index: 100
}
.signup-card-title {
    font-size: 1.5em;
    font-weight: 700
}
.signup-card-portionPrice {
    color: #8CBF3F;
    display: block;
    font-size: 1.7em;
    margin: .4em 0
}
.signup-card-info {
    text-align: left;
    font-size: .9em
}
.signup-card-allCourses-number,
.signup-card-course-number,
.signup-card-exercises-number {
    content: "";
    color: #8CBF3F;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.signup-card-info-item {
    display: block;
    margin-bottom: .7em;
    position: relative;
    padding-left: 3em;
    font-weight: 400
}
.signup-card-course .signup-card-info-ebooks,
.signup-card-course .signup-card-info-future,
.signup-card-course .signup-card-info-galandra,
.signup-card-premium .signup-card-info-ebooks,
.signup-card-premium .signup-card-info-galandra {
    display: none
}
.signup-card-buy-action {
    padding: .3em;
    color: #FFF;
    display: block;
    border-radius: 5px;
    text-align: center;
    font-size: 1.4em;
    text-decoration: none;
    background-color: #8CBF3F;
    margin-top: 1em
}
@media(min-width:650px) {
    .signup-cards {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .signup-card {
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
    .signup-card-portionPrice,
    .signup-card-title {
        font-size: 1.8em
    }
    .signup-card-info-item {
        font-size: 1.2em
    }
    .signup-card-course .signup-card-info-ebooks,
    .signup-card-course .signup-card-info-future,
    .signup-card-course .signup-card-info-galandra,
    .signup-card-premium .signup-card-info-ebooks,
    .signup-card-premium .signup-card-info-galandra {
        display: block
    }
}
@media(min-width:768px) {
    .signup-cards {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .signup-card-course {
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1
    }
    .signup-card-info {
        font-size: .8em
    }
    .signup-card {
        -webkit-flex: 0 0 33%;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%
    }
    .signup-card-premium .signup-card-info {
        text-align: left
    }
}
@media(min-width:1000px) {
    .signup {
        padding: 2.5em 4em
    }
    .signup-title {
        font-size: 2.5em
    }
    .signup-cards {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .signup-card {
        margin-top: 0;
        -webkit-order: none;
        -ms-flex-order: none;
        order: none;
        padding: 3em;
        box-sizing: border-box;
        -webkit-flex: 0 0 32%;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%
    }
    .signup-card-course,
    .signup-card-premiumPlus {
        height: 410px
    }
    .signup-card-premium .signup-card-title {
        font-size: 2em
    }
    .signup-card-info {
        font-size: .8em
    }
    .signup-card-course,
    .signup-card-premiumPlus {
        position: relative;
        top: 15px
    }
    .signup-card-buy-action {
        padding: .7em;
        margin-top: 1em;
        font-size: 1.3em;
        font-weight: 700
    }
    .signup-card-premium .signup-card-buy-action {
        margin-top: 3em
    }
    .signup-card-course .signup-card-buy-action,
    .signup-card-premiumPlus .signup-card-buy-action {
        margin-top: 1.5em;
        box-sizing: border-box;
        padding: auto 2.5em
    }
    .signup-card-portionPrice {
        margin: .8em 0 0
    }
}
@media(min-width:1200px) {
    .signup {
        padding: 2.5em 12em
    }
    .signup-card-course,
    .signup-card-premiumPlus {
        height: 100%
    }
    .signup-card {
        padding: 3em;
        -webkit-flex: 0 0 33%;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%
    }
}