body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    background-color: #EEF2F6;
}

.navbar.navbar-fixed-top.navbar-fixed-width {    
    font-size: large;
    font-weight: bold;
    top: 0;
    margin-top: 0;
    padding: 2px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 1px 1px 5px #aaa;
}

.logo img {
    border-radius: 100px;
    width: 45px;
    height: 45px;
    background-color: #fff;
    padding: 5px;
    margin: 2px;
}

.info {
  min-width: 200px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.info .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  margin-left: 0;
  font-size: 1.6em;
  text-decoration: none;
  color: #363C3C;
  line-height: 1.6em;
  font-family: Roboto;
}

.logout {
    margin-left: 2px;
    top: 35px;
    position: absolute;
}

.logout a {
  color: #757575;
  font-size: 0.7em;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}

.add {
    position: absolute;
    top: 6px;
    left: 230px;
}

.add a {
  background: #E1E2DC;
  border-radius: 100%;
  width: 47px;
  padding: 0px;
  position: absolute;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  color: #363C3C;
  height: 50px;
  line-height: 40px;
  vertical-align: middle;
  font-family: sans-serif;
}

.menu a {
    color: #6D8888;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.menu a.actived {
  border-bottom: 1px solid #6D8888;
  height: 30px!important;
  padding: 0;
  font-size: larger;
}

.container.main {
    top: 64px;
    position: relative;
}

.row {
  flex: 1 100%;
  display: flex;
  flex-direction: row;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  font-size: 1.5em;
  margin: 5px;
  background-color: #fff;
}

.kind-info .kind a {
    color: #0F4C59;
    cursor: pointer;
    font-size: 1em;
    font-family: Roboto;
    font-weight: bolder;
}

.tags a {
    color: #757575;
    font-size: 0.8em;
    cursor: pointer;
    font-family: 'PT Sans', sans-serif;
    background-color: #f1f1f1;
    padding: 2px;
}

.display {
  flex: 1 100%;
  line-height: 2;
  font-size: 2em;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  /*color: #0F4C59;*/
  color: #fff;
  background: #B4C8C8;
  position: relative;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #B4C8C8;
  /* padding: 20px; */
}

form.bioform {
    margin: 5px;
    border-bottom: 1px solid #ddd;
    margin-top: 5px;
}

.kind-info .date {
    font-size: 0.6em;
/*    color: #fff;*/
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    padding: 5px;
}

.list {
  margin-top: 5px;
}

.list-group-item {
  color: #fff;
  font-family: Roboto;
  font-weight: bolder;
  font-size: 2em;
  border: 0;
}

.list-group-item .tags {
    flex: 1 70%;
    display: block;
    line-height: 30px;
}

.list-group-item .tags a {
    font-size: 0.6em;
    padding: 5px;
    margin: 5px;
    opacity: 0.5;
}

.btn-done {
    background-color: #2980b9!important;
    background-color: #fff!important;
    color: #000!important;
}

#Delete {
    background: #493A45!important;
    background: transparent!important;
    border: 1px solid #363C3C!important;
    color: #fff!important;
}

/*
http://flatuicolors.com/
*/

.WEIGHT {
  background-color: #f1c40f!important;
}

.EAT {
  background: #3498db!important;
}

.DRINK {
  background: #2c3e50!important;
  background: #3D566E!important;
}

.WORKOUT {
  background: #16a085!important;
}

.HUNGRY {
  background: #e74c3c!important;
}

.SLEEP {
  background: #e67e22!important;
}

.WAKEUP {
  background: #7f8c8d!important;
}

.URINATE {
  background: #2ecc71!important;
}

.DEFECATE {
  background: #9b59b6!important;
}

.SEX {
  background: #d35400!important;
}

.BATH {
  background: #2980b9!important;
}

.PARTY {
  background: #c0392b!important;
}

/*
19: "LISTEN",
20: "STUDY"
*/
.READ {
  background: #C795C1!important;
}
.READ-ROW {
  border-left: 15px solid #C795C1!important;
}

.WRITE {
  background: #D09259!important;
}

.WRITE-ROW {
  border-left: 15px solid #D09259!important;
}

.PRAY {
  background: #54B7B7!important;
}
.PRAY-ROW {
  border-left: 15px solid #54B7B7!important;
}

.MEDITATE {
  background: #64A2BC!important;
}
.MEDITATE-ROW {
  border-left: 15px solid #64A2BC!important;
}

.WORK {
  background: #54B7B6!important;
}
.WORK-ROW {
  border-left: 15px solid #54B7B6!important;
}

.TRAVEL {
  background: #3FAF78!important;
}
.TRAVEL-ROW {
  border-left: 15px solid #3FAF78!important;
}

.LISTEN {
  background: #33001b!important;
}
.LISTEN-ROW {
  border-left: 15px solid #33001b!important;
}

.STUDY {
  background: #480048!important;
}
.STUDY-ROW {
  border-left: 15px solid #480048!important;
}



/* velhos */

.PRAY {
  background: #876A9D!important;
}

.PRAY-ROW {
  border-left: 15px solid #876A9D!important;
}

/* rows */
.WEIGHT-ROW {
  border-left: 15px solid #f1c40f!important;
}

.EAT-ROW  {
  border-left: 15px solid #3498db!important;
}

.DRINK-ROW  {
  border-left: 15px solid #3D566E!important;
}

.WORKOUT-ROW  {
  border-left: 15px solid #16a085!important;
}

.HUNGRY-ROW  {
  border-left: 15px solid #e74c3c!important;
}

.SLEEP-ROW  {
  border-left: 15px solid #e67e22!important;
}

.WAKEUP-ROW  {
  border-left: 15px solid #7f8c8d!important;
}

.URINATE-ROW  {
  border-left: 15px solid #2ecc71!important;
}

.DEFECATE-ROW  {
  border-left: 15px solid #9b59b6!important;
}

.SEX-ROW  {
  border-left: 15px solid #d35400!important;
}

.BATH-ROW  {
  border-left: 15px solid #2980b9!important;
}

.PARTY-ROW  {
  border-left: 15px solid #c0392b!important;
}

a.private {
    color: #a1882b!important;
    background-color: #ffefc6;
    border-radius: 3px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.5em!important;
    display: inline-block;
    padding: 4px 5px 3px;
}

.fa:before {
  font-family: fontAwesome;
  padding: 2px;
}