section.method {
    background: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1.method-title {
    color: #5CA612;
    text-align: center;
}

section.method > section {
  width: 100%;
  min-height: 300px;
}

h1.method-title  {
  font-size: 5em;
  line-height: .5em;
}

.board > div {
  flex-grow: .5;
  flex-basis: 30%;
  text-align: center;
  font-size: 2.5em;
  background-color: #f2f2f2;
  width: 200px;
  border-radius: 10px;
  color: #5CA612;
  max-width: 500px;
  padding: 10px;
}


section.method-testimonies {
    background-color: #8CBF3F;
}
section.method-testimonies > h1.method-title {
    color: #F2F2F2;
}

section.method-testimonies > .board {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}

section.method-testimonies > .board > div {
  background-color: #f2f2f2;
  color: #5CA612;
  box-shadow: 2px 2px 55px #5CA612;
}

section.method-what > .board {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}

section.method-what > .board > div {
  background-color: #5CA612;
  color: #F2F2F2;
  box-shadow: 2px 2px 25px #40730C;
  margin: 10px;
}


section.method-work {
    background-color: #DF3C7B;
}

section.method-work > h1.method-title {
    color: #F2F2F2;
}

section.method-work > .board {  
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

section.method-work > .board > div {
  background-color: #f2f2f2;
  color: #5F3646;
  box-shadow: 2px 2px 55px #5F3646;
  margin: 5px;
  font-size: 1em;
  flex-basis: 20%;
  min-width: 300px;
}

section.method-work > .board > div > img {
    width: 300px;
}